<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_reserva</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">


    <h1>Nova Reserva</h1>

    <form class="card" action="/add_reserva" method="post">

        <label>Hóspede</label>

        

        <select name="hospede_id">

            <div class="card">{% for hospede in hospedes %}

                <option value="{{ hospede[0] }}">
                    {{ hospede[1] }}
                </option>

            {% endfor %}</div>

        </select>

        

        <label>Quarto</label>

        

        <select name="quarto_id">

            <div class="card">{% for quarto in quartos %}

                <option value="{{ quarto[0] }}">
                    {{ quarto[1] }}
                </option>

            {% endfor %}</div>

        </select>

        

        <label>Data Entrada</label>

        

        <input
            type="date"
            name="data_entrada"
        >

        

        <label>Data Saída</label>

        

        <input
            type="date"
            name="data_saida"
        >

        

        <button type="submit">
            Reservar
        </button>

        </form>


    </div>
</body>
</html>
