<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Hóspede</title>
</head>
<body>

    <h1>Novo Hóspede</h1>

    <form action="/add_hospede" method="post">

        <input type="text" name="nome" placeholder="Nome">

        <br><br>

        <input type="email" name="email" placeholder="Email">

        <br><br>

        <input type="text" name="telefone" placeholder="Telefone">

        <br><br>

        <input type="text" name="cpf" placeholder="CPF">

        <br><br>

        <button type="submit">
            Cadastrar
        </button>

    </form>

</body>
</html>