<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_quarto</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">


    <h1>Novo Quarto</h1>

    <form class="card" action="/add_quarto" method="post">

        <input 
            type="text"
            name="numero"
            placeholder="Número"
        >

        

        <input 
            type="text"
            name="tipo"
            placeholder="Tipo"
        >

        

        <input 
            type="number"
            step="0.01"
            name="valor_diaria"
            placeholder="Valor diária"
        >

        

        <input 
            type="text"
            name="status"
            placeholder="Status"
        >

        

        <button type="submit">
            Cadastrar
        </button>

    </form>


    </div>
</body>
</html>
