<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nova Reserva</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1>Nova Reserva</h1>

    <form action="/add_reserva" method="post">

        <label>Hóspede</label>

        <br>

        <select name="hospede_id">

            {% for hospede in hospedes %}

                <option value="{{ hospede[0] }}">
                    {{ hospede[1] }}
                </option>

            {% endfor %}

        </select>

        <br><br>

        <label>Quarto</label>

        <br>

        <select name="quarto_id">

            {% for quarto in quartos %}

                <option value="{{ quarto[0] }}">
                    {{ quarto[1] }}
                </option>

            {% endfor %}

        </select>

        <br><br>

        <label>Data Entrada</label>

        <br>

        <input
            type="date"
            name="data_entrada"
        >

        <br><br>

        <label>Data Saída</label>

        <br>

        <input
            type="date"
            name="data_saida"
        >

        <br><br>

        <button type="submit">
            Reservar
        </button>

        </form>

</body>
</html>