<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit_hospede</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">


    <h1>Editar Hóspede</h1>

    <form class="card" action="/edit_hospede/{{ hospede[0] }}" method="post">

        <input 
            type="text"
            name="nome"
            value="{{ hospede[1] }}"
        >

        

        <input 
            type="email" 
            name="email"
            value="{{ hospede[2] }}"
        >

        

        <input 
            type="text" 
            name="telefone"
            value="{{ hospede[3] }}"
        >

        

        <input 
            type="text" 
            name="cpf"
            value="{{ hospede[4] }}"
        >

        

        <button type="submit">
            Salvar
        </button>

    </form>


    </div>
</body>
</html>
