<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit_reserva</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">


    <h1>Editar Reserva</h1>

    <form class="card" action="/edit_reserva/{{ reserva[0] }}" method="post">

        <label>Hóspede</label>

        

        <select name="hospede_id">

            <div class="card">{% for hospede in hospedes %}

                <option
                    value="{{ hospede[0] }}"
                    {% if hospede[0] == reserva[1] %}
                        selected
                    {% endif %}
                >
                    {{ hospede[1] }}
                </option>

            {% endfor %}</div>

        </select>

        

        <label>Quarto</label>

        

        <select name="quarto_id">

            <div class="card">{% for quarto in quartos %}

                <option
                    value="{{ quarto[0] }}"
                    {% if quarto[0] == reserva[2] %}
                        selected
                    {% endif %}
                >
                    {{ quarto[1] }}
                </option>

            {% endfor %}</div>

        </select>

        

        <label>Data Entrada</label>

        

        <input
            type="date"
            name="data_entrada"
            value="{{ reserva[3] }}"
        >

        

        <label>Data Saída</label>

        

        <input
            type="date"
            name="data_saida"
            value="{{ reserva[4] }}"
        >

        

        <button type="submit">
            Salvar
        </button>

    </form>


    </div>
</body>
</html>
