<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hospedes</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">


    <nav>

        <a href="/">Home</a>

        <a href="/hospedes">Hóspedes</a>

        <a href="/quartos">Quartos</a>

        <a href="/reservas">Reservas</a>

    </nav>

    

    <h1>Lista de Hóspedes</h1>

    

    <a href="/add_hospede">
        Novo Hóspede
    </a>

    

    <div class="card">{% for hospede in hospedes %}

        

        <p>Nome: {{ hospede[1] }}</p>

        <p>Email: {{ hospede[2] }}</p>

        <p>Telefone: {{ hospede[3] }}</p>

        <p>CPF: {{ hospede[4] }}</p>

        <div class="actions"><a href="/edit_hospede/{{ hospede[0] }}">
            Editar
        </a>

        

        <a href="/delete_hospede/{{ hospede[0] }}">
            Excluir
        </a></div>

    {% endfor %}</div>


    </div>
</body>
</html>
