<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema Hotelaria</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <nav>

        <a href="/">Home</a>

        <a href="/hospedes">Hóspedes</a>

        <a href="/quartos">Quartos</a>

        <a href="/reservas">Reservas</a>

    </nav>

    <br><br>

    <h1>Sistema de Hotelaria</h1>

    <hr>

    <h2>Módulos</h2>

    <p>
        Gerencie hóspedes, quartos e reservas.
    </p>

</body>
</html>