<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quartos</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">


    <nav>

        <a href="/">Home</a>

        <a href="/hospedes">Hóspedes</a>

        <a href="/quartos">Quartos</a>

        <a href="/reservas">Reservas</a>

    </nav>

    

    <h1>Lista de Quartos</h1>

    

    <a href="/add_quarto">
        Novo Quarto
    </a>

    <div class="card">{% for quarto in quartos %}

        

        <p>Número: {{ quarto[1] }}</p>

        <p>Tipo: {{ quarto[2] }}</p>

        <p>Valor diária: {{ quarto[3] }}</p>

        <p>Status: {{ quarto[4] }}</p>

        <div class="actions"><a href="/edit_quarto/{{ quarto[0] }}">
            Editar
        </a>

        

        <a href="/delete_quarto/{{ quarto[0] }}">
            Excluir
        </a></div>

    {% endfor %}</div>


    </div>
</body>
</html>
