<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reservas</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <nav>

        <a href="/">Home</a>

        <a href="/hospedes">Hóspedes</a>

        <a href="/quartos">Quartos</a>

        <a href="/reservas">Reservas</a>

    </nav>

    <br><br>

    <h1>Lista de Reservas</h1>

    <br>

    <a href="/add_reserva">
        Nova Reserva
    </a>

    {% for reserva in reservas %}

        <hr>

        <p>Hóspede: {{ reserva[1] }}</p>

        <p>Quarto: {{ reserva[2] }}</p>

        <p>Entrada: {{ reserva[3] }}</p>

        <p>Saída: {{ reserva[4] }}</p>

        <a href="/reserva/{{ reserva[0] }}">
            Visualizar
        </a>

        <br><br>

        <a href="/delete_reserva/{{ reserva[0] }}">
            Excluir
        </a>

    {% endfor %}

</body>
</html>