<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view_reserva</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">


    <h1>Detalhes da Reserva</h1>

    

    <h2>Hóspede</h2>

    <p>Nome: {{ reserva[1] }}</p>

    <p>Email: {{ reserva[2] }}</p>

    <p>Telefone: {{ reserva[3] }}</p>

    

    <h2>Quarto</h2>

    <p>Número: {{ reserva[4] }}</p>

    <p>Tipo: {{ reserva[5] }}</p>

    <p>Valor diária: {{ reserva[6] }}</p>

    

    <h2>Hospedagem</h2>

    <p>Entrada: {{ reserva[7] }}</p>

    <p>Saída: {{ reserva[8] }}</p>


    </div>
</body>
</html>
